extends layout

-var resumeURL = "/resume"
-var gitURL = "https://gitlab.com/casserpillar/"
-var bitURL = "https://bitbucket.org/casserpillar/"

block content
  div#content
    div#title.header
      span#title-top
        | I'm Cass 
        span.fantastic Fantastic
        | , 
      span fyi
    p
      | I'm a theoretical physics graduate, and upcoming software developer. I'm interested in social justice and being nice, and I 
      b.fantastic love 
      | fitting puzzles and systems into my head. 
    p 
      | I enjoy 
      a(href="/recipes") cooking
      | !
    p
      | My 
      a(href="/resume") resume
      | !
    p 
      | My 
      a(href = "https://gitlab.com/casserpillar/") git
      | &#32;and 
      a(href = "https://bitbucket.org/casserpillar/") bitbucket
      | &#32;repos!
    p
      | You can find me on 
      a(href="https://twitter.com/thecasserpillar") twitter
      | &#32;or contact me 
      a(href="mailto:cass.fantastic@gmail.com") here
      | &#32;if you'd like.
