//- {
//-     name: String,
//-     serves: Number,
//-     ingredients: [{name: String, contents: [String]}],
//-     tools: [String],
//-     recipemethod: [{name: String, contents: [String]}]
//- }

extends layout

block content
    h1.fantastic #{recipe.name}
    p Serves #{recipe.serves}
    p Ingredients:
    each val in recipe.ingredients
        p #{val.name}:
        each ingredient in val.contents
            ul #{ingredient}
    p Tools:
    each tool in recipe.tools
        ul #{tool}
    p Method:
    each val in recipe.recipemethod
        p #{val.name}:
        p
        each step in val.contents
            | #{step} 
