//- {
//-     name: String,
//-     serves: Number,
//-     ingredients: [{name: String, contents: [String]}],
//-     tools: [String],
//-     recipemethod: [{name: String, contents: [String]}]
//- }
extends layout

block content
    h1 Recipes
    each recipe in recipeList
        p 
            a(href="/recipes/#{recipe.name}") #{recipe.name}
