@-ms-viewport{
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #515151;
}

#title {
  width: min-content;
  margin: 0 auto 0 auto;
  text-align: left;
}

#title-top {
  text-align: justify;
  white-space: nowrap;
  display: inline-block;
}

#content {
  transition-property: width;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0.15s;
  width: 500px;
  margin: 0 auto 0 auto; 
}

@media all and (max-width: 600px) {
  #content {
    width: 300px;
  }
}

body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #e87104;
  text-decoration: none;
}

p {
  text-align: justify;
}

.header {
  font-size: 32px;
  font-weight: bold;
}

.fantastic {
	color: #e87104;
}

.love {
	font-weight: bold;
}